<header class="site-header">
  <div class="site-title-wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <p class="site-tagline">{{ site.description }}</p>
  </div>
  <nav class="site-nav">
    <a href="{{ '/' | relative_url }}">Home</a>
    {% if site.data.categories %}
      {% for category in site.data.categories %}
        <a href="/categories/{{ category.slug }}/">{{ category.label }}</a>
      {% endfor %}
    {% endif %}
  </nav>
</header>
